[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysimplegui = "*"
requests = "*"
imageio = "*"
imageio-ffmpeg = "*"
pyserial = "*"

[dev-packages]

[requires]
python_version = "3.11"
